# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual Environments
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.pyc
*.pyo
db.sqlite3
media/
staticfiles/

# Development Artifacts
.idea/
.vscode/
*.swp
*.swo
*.bak
*.orig
.DS_Store
*.egg-info/
coverage/
*.cover
*.log
*.pid
*.seed
*.sublime-project
*.sublime-workspace

# Git
.git/
.gitignore
*.patch
*.diff

# Docker
Dockerfile
docker-compose.override.yml

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
